.header {
    position: relative;
    margin-bottom: 2rem;
}

.textOverPic {
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    color: white;
    width: 55%;
}

@media (max-width: 600px) {
    .textOverPic {
        left: 1rem;
        font-size: 36px;
        width: 80%;
        line-height: 2.5rem;
    }
}

.main {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    flex-wrap: wrap;
    gap: 2rem;
}