.header {
    position: relative;
}

.textOverPic {
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    color: white;
    width: 55%;
}

.main {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    flex-wrap: wrap;
    gap: 2rem;
}