.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    padding: 0 5rem;
    gap: 3rem;
}

@media (max-width: 1400px) {
    .main {
        flex-direction: column-reverse;
    }
}

.header > h1 {
    font-size: 50px;
}

@media (max-width: 800px) {
    .header > h1 {
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    .header > h1 {
        font-size: 26px;
        margin-bottom: 2rem;
    }
}

.main > img {
    max-width: 676px;
}

.socials {
    width: 100%;
    display: flex;
    margin: 3rem 0;
    justify-content: center;
    gap: 1.5rem;
}