.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    padding: 0 5rem;
    gap: 3rem;
}

.main > img {
    max-width: 676px;
}

.socials {
    width: 100%;
    display: flex;
    margin: 3rem 0;
    justify-content: center;
    gap: 1.5rem;
}