.container {
    position: fixed;
    width: 100vw;
    padding: 2rem 3rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    top: 0;
    background-color: transparent;
    transition: top 0.3s, background-color 0.3s;
}

.mobileContainer {
    position: fixed;
    width: 100vw;
    padding: 0 3rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    top: 0;
    background-color: transparent;
    color: white;
    transition: top 0.3s, background-color 0.3s;
}

.scrolledNav {
    top: -120px;
}

.openNav {
    background-color: white;
    color: black;
}

.scrolledShowNav {
    top: 0;
    background-color: black;
    color: white;
}

.scrolledShowNav * path {
    stroke: white;
}

.blackText {
    color: black;
}

.whiteText {
    color: white;
}

@media (max-width: 800px) {
    .mobileContainer {
        padding: 0 1rem;
    }

    .mobileContainer > h2 {
        font-size: 24px;
    }
}

.container > h2 {
    margin: 0;
}

.link {
    margin: 0 0.5rem;
    text-decoration: none;
}

.linkActive {
    margin: 0 0.5rem;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.mobileLink {
    font-size: 2rem;
    margin: 0 0.5rem;
    text-decoration: none;
}

.mobileLinkActive {
    font-size: 2rem;
    margin: 0 0.5rem;
    text-decoration: underline;
    text-underline-offset: 10px;
}
