.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    color: #253551;
}

.main > h2 {
    margin: 0;
}

.bookImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: fit-content;
}

.bookImg > img {
    margin-bottom: 0.5rem;
}

@media (max-width: 550px) {
    .bookImg > img {
        max-width: 100%;
        height: auto;
        padding: 0 1rem;
    }
}

.bookImg:hover > img {
    filter: blur(4px);
    cursor: pointer;
}

.bookImg:hover > .bookNow {
    visibility: visible;
    cursor: pointer;
}

.bookNow {
    border: 2px solid;
    padding: 1rem 2rem;
    position: absolute;
    color: white;
    font-weight: 700;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}